/* Sequoia Sequoia Monochrome Light for Spicetify */
:root {
  --spice-main: #edeef2;
  --spice-sidebar: #e2e3e8;
  --spice-player: #e2e3e8;
  --spice-card: #e2e3e8;
  --spice-subtext: #42434e;
  --spice-text: #282930;
  --spice-button: #454752;
  --spice-button-active: #525666;
  --spice-tab-active: #454752;
  --spice-notification: #e2e3e8;
  --spice-notification-error: #525666;
}
